<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>.: TASKS ADMIN :.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles/index.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1 class="text-center mt-3">MI ADMINISTRADOR DE TAREAS</h1>
        <div id="app" class="container">
                <input type="text" @keyup.enter="addTask(taskInput)" v-model="taskInput">
                <button @click="addTask(taskInput)" class="btn btn-primary">AGREGAR TAREA</button>
                <ul class="mt-3 p-0">
                    <li v-if="tasks.length == 0">No hay tareas pedientes.</li>
                    <li :class="[task.done ? 'done': 'pending']" v-for="task in tasks" class="p-2 my-2">
                        <p>{{ task.name }}</p>
                        <div>
                                <button @click="[setDone(task.name), taskDone(task.name)]" v-if="!task.done" class="mr-2 mt-2 btn btn-success">HECHO</button>
                                <button @click="[setPending(task.name), taskPending(task.name)]"class="mr-2 mt-2 text-white btn btn-warning" v-if="task.done">PENDIENTE</button>
                                <button @click="modifyTask(task.name)" class="mr-2 mt-2 btn btn-primary">MODIFICAR</button> 
                                <button @click="removeTask(task.name)"class="btn  mt-2 btn-danger">ELIMINAR</button>
                        </div>
                    </li>
                </ul>
        </div>
        <footer>
                <p class="text-uppercase">Desarrollada por: Edgar Ramírez Fuentes.</p>
                <a target="_blank" class="text-center text-uppercase" href="https://edgarramirezweb.netlify.com/">Click para visitar mi p&aacute;gina</a>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="./scripts/index.js"></script>
    </body>
</html>